{{template "base" .}}

{{define "title"}}
 All Subscriptions
{{end}}


{{define "content"}}
    <h2 class="mt-5">All Subscriptions</h2>
    <hr>

    
    <table id="sales-table" class="table table-striped">
        <thead>
            <tr>
                <th>Transaction</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

{{end}}


{{define "js"}}
<script>
    let token = localStorage.getItem("token")
    let tbody = document.getElementById("sales-table").getElementsByTagName("tbody")[0];
    


    AllSales=async ()=>{
        
    const requestOptions = {
        method: 'post',
        headers: {
            'Accept':'application/json',
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + token,               
        }
        }

    let response = await fetch('{{.API}}/api/admin/all-subscriptions', requestOptions);          
    let data = await response.json();
    console.log(data);
    if (data){
        data.forEach(element => {
            let newRow=tbody.insertRow();
            let newCell = newRow.insertCell();

            newCell.innerHTML =  `<a href="/admin/subscriptions/${element.id}">Order ${element.id}<a>`;
            
            newCell = newRow.insertCell();
            let item = document.createTextNode(element.customer.first_name + " " + element.customer.last_name);
            newCell.appendChild(item);


            newCell = newRow.insertCell();
            item = document.createTextNode(element.widget.name);
            newCell.appendChild(item);

            let cur = formatCurrency(element.transaction.amount);

            newCell = newRow.insertCell();
            item = document.createTextNode(cur + "/month");
            newCell.appendChild(item);

            newCell = newRow.insertCell();            
            if (element.status_id != 1){
                    newCell.innerHTML = `<span class="badge bg-danger">Cancelled</span>`
            }else{
                newCell.innerHTML = `<span class="badge bg-success">Charged</span>`
            }

        });            
    }else{
        let newRow=tbody.insertRow();
        let newCell = newRow.insertCell();
        newCell.setAttribute("colspan","4");
        newCell.innerHTML = "No data available";

    }
    
    }

    AllSales();

    // fortmatCurrency = (amount)=>{
    //     let c = parseFloat(amount/100);
    //     return c.toLocaleString("es-MX",{
    //         style:"currency",
    //         currency: "MXN",
    //     })
    // }
        
</script>

{{end}}